.hero {
    position: relative;

    background: url('../assets/images/hero/Speed-of-Light.jpg') no-repeat center top;
    background-size: auto 100%;
    background-attachment: fixed;
    background-position: center; 

    text-align: right;
    padding-right: 5px;
    padding-top: 5px;

    @media screen and (min-width: 1630px) {
        background-size: 100% auto;
    }

    .hero-container {
        margin: 100px 0;
    }

    .hero-title {
        margin: 20px;
        color: #FFFFF0;

        font-family: $header-font;

        text-transform: uppercase;
    }

    .hero-title-l1 {

        font-size: 65px;
    }

    .hero-title-l2 {

        color: #FFFFF0;
        margin-top: 10px;

        font-size: 28px;
    }

    .hero-title-highlight {
        color: $brand-primary;
    }

    .hero-buttons {
        margin: 20px;
        margin-top: 50px;

        input {
            width: 300px;
            height: 40px;

            padding: 0 15px;

            line-height: 40px;
        }

        .btn-default {
            height: 40px;

            padding: 0 15px;
        }
    }
}
